@inherits LayoutComponentBase
@inject IJSRuntime _jsRuntime

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">

            @if (globals.IsLoggedIn)
            {
                if (string.IsNullOrEmpty(globals.User!.AvatarUrl))
                {
                    <MudAvatar Color="Color.Primary" Variant="Variant.Filled">@globals.User!.Username!.First()</MudAvatar>
                }
                else
                {
                    <MudAvatar>
                        <MudImage Src=@globals.User!.AvatarUrl></MudImage>
                    </MudAvatar>
                }
                <MudText Class="ml-2">@($"Welcome back, {globals.User!.Username}!")</MudText>

                <NavLink class="nav-link" href="accountedit" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Edit
                </NavLink>
                <MudLink OnClick="Logout">Log out</MudLink>
            }
            else
            {
                <NavLink class="nav-link" href="login" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Login
                </NavLink>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    protected override void OnInitialized()
    {
        globals.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        globals.OnChange -= StateHasChanged;
    }


    private async Task Logout()
    {
        await globals.Logout(_jsRuntime);
    }
}    